* {
	font-size: 12px;
	font-family: JetBrainsMono Nerd Font;
}

window#waybar {
	background: #16161e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #282c34;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #16161e;
	background: #282c34;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #282c34;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #282c34;
	border: #282c34;
	padding: 0 3px;
}

#pulseaudio {
	color: #f7768e;
}
#memory {
	color: #41a6b5;
}
#cpu {
	color: #e0af68;
}
#battery {
	color: #db4b4b;
}
#disk {
	color: #9ece6a;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
