* {
    font-family: "Mononoki Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

#custom-icon {
    font-size: 20px;
    color: #0db9d7;
}


#window {
    /* background-color: #a9a1e1; */
    background-color: #ff9e64;
    color: #000000;
    padding-left: 5px;
    font-size: 18px;
}


#custom-music {
    background-color: #1abc9c;
    padding-left: 5px;
    padding-right: 12px;
    margin-right: 120px;
}

#waybar {
    background: #181818;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

tooltip {
    border-radius: 2px;
}

#hyprland-window {
    color: #0db9d7;
}

#workspaces button {
    /* background: rgba(23, 23, 23, 0.0); */
    background: #b36b39; /* Is overwritten by button.<state> specific settings */
    box-shadow: none;
    text-shadow: none;
    border-radius: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button.active {
    color: #181818;
    background-color: #0db9d7;
}

#workspaces button.empty {
    background: #f7768e;
}

#workspaces button {
    color: #282c34;
    background-color: #9d7cd8;
}

#workspaces button:hover {
    color: #282c34;
    background: #0db9d7;
}

#tray menu separator {
    min-height: 10px;
}

#battery {
    background-color: #7dcfff;
    color: #181818;
    padding-left: 5px;
    padding-right: 5px;
}

#custom-kernel {
    color:#9ece6a;
    font-weight: bold;
    font-size: 13px;
    padding-right: 0px;
    padding-left: 4px;


    border: none;
    border-bottom: 2px solid #9ece6a;
    border-bottom-width: 2px;
}

#clock {
    background-color: #9d7cd8;
    color: #181818;
    padding-left: 5px;
    padding-right: 5px;
}

#custom-pipewire {
    background-color: #ff9e64;
    color: #181818;
    padding-left: 5px;
    padding-right: 5px;
}

#cpu {
    background-color: #f7768e;
    color: #181818;
    padding-left: 5px;
    padding-right: 5px;
}

#custom-memory {
    /* font-size: 13px; */
    background-color: #9ece6a;
    color: #181818;
    padding-left: 5px;
    padding-right: 5px;
}

#taskbar {
    padding: 1px;
    /* width: 100%; */
}

* {
    padding: 0;
    margin: 0;
}
