* {
    font-family: "Mononoki Nerd Font";
    font-weight: bold;
    font-size: 15px;
}

#custom-icon {
    font-size: 28px;
    font-weight: bold;
    color: #51afef;
}

window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
}

#window {
    color: #e0def4;
}

#custom-bar {
    /* color: #c4a7e7; */
    color: transparent;
}

#custom-music {
    background-color: #1abc9c;
    padding-left: 5px;
    padding-right: 12px;
}

#waybar {
    background: #181818;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

tooltip {
    border-radius: 2px;
}

#hyprland-window {
    color: #0db9d7;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    border-radius: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button.active {
    color: #f7768e;
}

#workspaces button.empty {
    color: #f6c177;
}

#workspaces button {
    color: #9d7cd8;
}

#workspaces button:hover {
    color: #0db9d7;
}

#tray menu separator {
    min-height: 10px;
}

#battery {
    color: #7dcfff;
    padding-left: 5px;
    padding-right: 5px;
}

#clock {
    color: #9d7cd8;
    padding-left: 5px;
    padding-right: 2px;
}

#custom-pipewire {
    color: #ff9e64;
    padding-left: 5px;
    padding-right: 5px;
}

#cpu {
    color: #f7768e;
    padding-left: 5px;
    padding-right: 5px;
}


#custom-memory {
    /* font-size: 13px; */
    color: #9ece6a;
    padding-left: 5px;
    padding-right: 5px;
}

#taskbar {
    padding: 1px;
    /* width: 100%; */
}

* {
    padding: 0;
    margin: 0;
}
